
*{ margin: 0;
    padding: 0;}
body{
    text-align: center;
}
.wrapper{
     width: 1170 px;
     margin:  0 auto;
}

.logo{ width: 30%;
float: left;
line-height: 100px;
}
.logo a{ text-decoration: none;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        color: #fff;
        letter-spacing: 5px;

}
nav{
    float: right;
    line-height: 100px;

}
nav a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}

.banner-area h2{

    padding: 0;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color:#fff;
}

.content-area{
    width: 100%;
    position: relative;
     top: 500px;
    background:rgb(99, 98, 98);
    height: auto;
    

}
.content-area h2{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    padding: 30px 0 20px 10px;
    font-size: 30px;
    margin: 0;
    text-align: left;
    text-decoration: underline;
    color:rgb(2, 19, 13) ;
}
.cont{
    display:inline-block;
    border: 3px solid;
   
    margin: 10px;
    padding: 10px;
  
    
}
.cont p{
text-align: left;
    font-size: 25px;
    padding: 20px 30px;
    line-height: 10px;
    color: rgb(221, 221, 221);
 
}
ul{
    list-style-type: none;
}
li{
    text-align: left;
        font-size: 25px;
        padding: 10px 30px;
        font-family: 'Times New Roman', Times, serif;
        line-height: 15px;
        color: rgb(221, 221, 221);
        
    }
.pic{
    width: 400px;
  border-radius: 50%;  
  height: 40%; 
}
#titles{
    font-size: 30px;
    padding: 100px 0;
    font-family:merienda;
    line-height: 30px;
    color: rgb(36, 1, 1);
    font-weight: bold;

}

.Experience{
    border: 3px solid;
    display: inline-block;
}

.Contact{
    
    font-size: 40px;
    line-height: 3em;
}
 .Contact a{
    padding: 20px;
    text-decoration-line: none;
    border: 3px solid;
    background-color: black;
}

.Contact a :active{
    color: rgb(61, 117, 182);
} 

}
a:hover{

    color: rgb(146, 147, 148);
}    
a:active{

    color: rgb(2, 19, 13);
}
.Contact h2{
font-size: 60px;
    text-align: center;
}
@media (max-width:1000px){
    header{
       display: none;
    }
    .banner-area{
        width: 100%;
        height: 700px;
        position: fixed;
        top: 0px;
        background-image: url(../photos/back.jpg);
        background-size: cover;
        background-position: center center;
    }
    cont{
      
        border: 3px solid;
       
        margin: 10px;
        padding: 10px;
      
        
    }
   
}
@media (min-width:1000px){

    header{
        height: 100px;
        background:#262626;
        width:100%;
        z-index: 12;
        position: fixed ;
    }
    .banner-area{
        width: 100%;
        height: 700px;
        position: fixed;
        top: 100px;
        background-image: url(../photos/back.jpg);
        background-size: cover;
        background-position: center center;
    }
    cont{
        display:inline-block;
        border: 3px solid;
       
        margin: 10px;
        padding: 10px;
      
        
    }

}